# Build outputs
bin/
obj/
out/
publish/

# IDE
.vscode/
.vs/

# Container-generated
.containers/

# User-specific files
*.user
*.suo

# Cache/Temp
*.db
*.cache
*.log
*.tmp
*.pid

# Docker
**/root/.aspnet/DataProtection-Keys/

# VS design-time build files
*.FileListAbsolute.txt
*.AssemblyReference.cache
*.dbcache*
*.vscode*